<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongodpm curd operation</title>
</head>
<body>
    <h1>mongodpm curd operation</h1>
    {{message}}
    <br>
    {{#if edit_id}}
    <h3>Edit</h3>
    <form method="post" action="/update_book/{{edit_id}}">
        <label for="">title</label>
        <input type="text" name="title" value="{{edit_book.title}}">
        <label for="">author</label>
        <input type="text" name="author" value="{{edit_book.author}}">
        <input type="submit">
    </form><br><br>
    {{else}}
    <h3>Create</h3>
    <form method="post" action="/store-book">
        <label for="">title</label>
        <input type="text" name="title">
        <label for="">author</label>
        <input type="text" name="author">
        <input type="submit">

    </form><br><br>
    {{/if}}
    

    <ul>
        {{#each books}}
        <li>{{this.title}}-{{this.author}} <a href="/?edit_id={{this._id}}">Edit</a><a href="/?delete_id={{this._id}}" onclick="return confirm('are you sure want to delete?')">Delete</a></li>
        {{/each}}
    </ul>
    
</body>
</html>